{{vm.transaction.date | fromNow}}
<div class="panel panel-default text-right">
  <div class="panel-heading">
    {{vm.transaction.amount}}
    {{vm.transaction.source}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        1 {{vm.transaction.source}}
      </div>
      <div class="col-xs-6">
        {{vm.transaction.rate}}
        {{vm.transaction.target}}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    {{vm.result()}}
    {{vm.transaction.target}}
  </div>
</div>