//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-dark:              #404040;
$gray:                   #666;
$gray-light:             #999;
$gray-lighter:           #bbb;
$gray-lightest:          #f1f1f1;

$brand-primary:          #72c3ed;